<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pcdv0">

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCDv0">
        <activity
            android:name=".GetLocationActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ShowMapActivity"
            android:exported="false" />
        <activity
            android:name=".ControlActivity"
            android:exported="false" />
        <activity
            android:name=".RentActivity"
            android:exported="false" />
        <activity
            android:name=".EditCarActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".bluettooth.BluetoothActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHRA-HZiSA5vJMV8v8kPT9DAuBTUUEJxQ" />

        <activity
            android:name=".CarDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserNavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_user_navigation_drawer"
            android:theme="@style/Theme.PCDv0.NoActionBar" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>